.hidden{
    display: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  .product-carousel-header {
  color: #666;
  box-sizing: border-box;
  padding: 10px 14px;
  width: 100%;
  }
  .product-carousel {
  box-sizing: border-box;
  padding: 20px 40px;
  width: 100%;
  }
  .product-carousel .product, .product-carousel .product:focus {
  box-sizing: border-box;
  outline: none;
  margin: 0 10px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  align-content: space-between;
  }
  .product-carousel .product-top {
  width: 100%;
  }
  .product-carousel p,
  .product-carousel .product-image,
  .product-carousel img.review-stars {
  margin: 0 0 10px 0;
  }
  .product-carousel .product-image {
  align-self: flex-start;
  width: 100%;
  }
  img.review-stars {
  width: 100px;
  display: inline-block;
  }
  .product-carousel .product-name {
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  width: 100%;
  }
  .product-carousel .product-bottom {
  margin-top: auto;
  -webkit-box-align: end;
          align-items: flex-end;
  }
  .product-carousel .product-prices {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
          flex: 1 0 100%;
  align-self: center;
  }
  .product-carousel .product-prices span {
  width: 100%;
  }
  .product-carousel .product-prices span.price-was {
  color: #a2a2a2;
  text-decoration: line-through;
  }

  .product-carousel .product-prices span.price-save {
  color: red;
  }
  .product-carousel .product-prices span.price-save:before {
  content: 'Save ';
  }
  .product-carousel .product-prices span.price-now {
  font-weight: bold;
  }
  .product-carousel .product-prices span.price-now:before {
  content: '';
  }
  .product-carousel button.shop-now, button.shop-now  {
    border: none;
    background-image: none;
    background-color: #4a4a4a;
    color: #ffffff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 16px;
    padding: 8px 10px;
    align-self: center;
    }
    
  /** ARROWS **/
  i {
  border: solid #000000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: calc(50% - 12px/2);
  cursor: pointer;
  }
  .right {
  right: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  }
  .left {
  left: 20px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  }
  /** SLICK SLIDER CSS **/
  /* Slider */
  .slick-slider {
  position: relative;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  }
  .slick-list {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  }
  .slick-list:focus {
  outline: none;
  }
  .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
  }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  .slick-track {
  display: -webkit-box;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  }
  .slick-loading .slick-track {
  visibility: hidden;
  }
  [dir='rtl'] .slick-slide {
  float: right;
  }
  .slick-slide.slick-loading img {
  display: none;
  }
  .slick-slide.dragging img {
  pointer-events: none;
  }
  .slick-loading .slick-slide {
  visibility: hidden;
  }
  .slick-vertical .slick-slide {
  height: auto;
  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
  display: none;
  }


  /* FORM STYLE */

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset], .btn-action  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text],
    input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus,
  input[type=password]:focus {
  
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder,
    input[type=password]:placeholder {
    color: #cccccc;
  }
  




  /* Checkout */

  .shopping-cart{
    padding:10px;
  }
  .dropdown-menu{
    overflow-y: auto;
    max-height: 500px;
    min-width:300px;
    float:none!important;
    left:auto;
  }
  
  @media screen and (min-width: 650px) {
    .dropdown-menu{
      max-width: 450px;
      overflow-y: auto;
      max-height: 500px;
      right:12%!important;

    }
  }
  @media screen  and (max-width: 650px){
    .dropdown-menu{
        width:100%;
        right:0;
      }
  }
  /* Global settings */

/* .product-image {
float: left;
width: 20%;
} */

.product-details {
float: left;
width: 40%;
}

.product-price {
float: left;
/* width: 12%; */
}

.product-quantity {
float: left;
/* width: 10%; */
}

.product-removal {
float: right;
/* width: 15%; */
}

.product-line-price {
float: left;
width: 20%;
text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
content: '';
display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply signs */
.product .product-price:after, .product .product-line-price:after, .totals-value:after {
content: ' €';
}


.shopping-cart {
margin-top: -45px;
}

/* Column headers */
.column-labels label {
padding-bottom: 15px;
margin-bottom: 15px;
border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
text-indent: -9999px;
}

/* Product entries */
.product {
margin-bottom: 20px;
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}
.product .product-image {
text-align: center;
}
.product .product-image img {
width: 100px;
}
/* .product .product-details .product-title {
margin: 10px 20px;

} */
.product{
font-size:14px;
}
.product .product-details .product-description {
margin: 5px 20px 5px 0;
line-height: 1.4em;
}
.product .product-quantity input {
width: 40px;
}
.product .remove-product {
border: 0;
padding: 4px 8px;
background-color: #c66;
color: #fff;
font-size: 12px;
border-radius: 3px;
}
.product .remove-product:hover {
background-color: #a44;
}

/* Totals section */
.totals .totals-item {
float: right;
clear: both;
width: 100%;
margin-bottom: 10px;
}
.totals .totals-item label {
float: left;
clear: both;
width: 79%;
text-align: right;
}
.totals .totals-item .totals-value {
float: right;
width: 21%;
text-align: right;
}
.totals .totals-item-total {
}

.checkout {
float: right;
border: 0;
margin-top: 20px;
padding: 6px 25px;
background-color: #6b6;
color: #fff;
/* font-size: 25px; */
border-radius: 3px;
}

.checkout:hover {
background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
.shopping-cart {
margin: 0;
padding-top: 20px;
border-top: 1px solid #eee;
}

.column-labels {
display: none;
}

.product-image {
float: right;
width: auto;
}
.product-image img {
margin: 0 0 10px 10px;
}

.product-details {
float: none;
margin-bottom: 10px;
width: auto;
}

.product-price {
clear: both;
width: 70px;
}

.product-quantity {
/* width: 100px; */
}
.product-quantity input {
margin-left: 20px;
}

.product-quantity:before {
content: 'x';
}

.product-removal {
width: auto;
}

.product-line-price {
float: right;
width: 70px;
}
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
.product-removal {
float: right;
}

.product-line-price {
float: right;
clear: left;
width: auto;
margin-top: 10px;
}

.product .product-line-price:after {
content: 'Ukupno: €';
}

.totals .totals-item label {
/* width: 60%; */
}
.totals .totals-item .totals-value {
/* width: 40%; */
}
}
.shopping-cart-box.active{
display: block;
}


/* END checkout box */